.container {
  background-color: #005b96;
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 4px;
}

.info {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-right: 4px;
}

.btn {
  font-family: Rick-and-Morty;
  font-size: 19px;
  background-color: skyblue;
  color: darkblue;
  border-radius: 10px;
}

.btn:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.img {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px ;
}
