.floating {
    background: transparent;
    border-radius: 20px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    backdrop-filter: blur(15px);
}

@keyframes floating {
    0% { transform: translate(0, 0px);}
    50% {transform: translate(0, 15px);}
    100% {transform: translate(0, -0px);}
}

.floating:hover {
    animation-duration: 0s;
    border: 3px solid white;
    box-shadow: none;
    background: linear-gradient(70deg, green, blue);
}

.floating :link {
    text-decoration: wavy underline;
}

.containerImg {
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.fav {
    position: absolute;
    border-radius: 10px;
    z-index: 2;
    color: red;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: .4s;
    margin-left: -30px;
}

.noFav {
    position: absolute;
    border-radius: 10px;
    z-index: 2;
    color: #0E0E0E;
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: .4s;
    margin-left: -30px;
}

.fav:hover {
    transform: translateY(0);
}

.button {
    position: absolute;
    background-color: red;
    color: white;
    width: 25px;
    margin-right: 2%;
    border-radius: 7px;
    align-self: flex-start;
    margin: 6px;
    transition: background-color .3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: red;
}

.image {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card h2 {
    color: darkblue;
}
