.card {
    background-color: orange;
    border: 2px solid #344259;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: .7s;
    transform: translateY(10px);
    min-height: 20vh;
    margin-top: 5px;
    position: relative;
}

.card:hover{
    transform: translateY(0px);
    cursor: pointer;
}

.card h2 {
    color: brown;
}

.btn {
    background-color: red;
    color: white;
    width: 25px;
    margin-bottom: 153%;
    margin-right: 2%;
    border-radius: 7px;
    align-self: flex-end;
    position: absolute;
}

.btn:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-tittle h1 {
    text-decoration: none;
}
