.main {
    display: flex;
    text-decoration: none;
    width: 101%;
    height: 55%;
    margin: 0;
    position: relative;
    background-color: orange;
    padding: 4px;
}

.main h1 {
    color: brown;
}

.input {
    display: flex;
    border-radius: 10px;
}

.container {
    background-color: orange;
    display: flex;
    border-radius: 10px;
    margin-left: 74%;
    margin-top: 3%;
    height: 35%;
    position: absolute;
}

.btn {
    border: 2px solid black;
    color: white;
    display: inline-flex;
    background-color: #4B5F80;
    border-radius: 10px;
    font-size: 18px;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}
