.input {
    display: flex;
    border-radius: 10px;
}

.container {
    background-color: orange;
    display: flex;
    border-radius: 10px;
    margin-left: 74%;
    margin-top: 3%;
    height: 35%;
    position: absolute;
}

.btn {
    border: 2px solid black;
    color: white;
    display: inline-flex;
    background-color: #4B5F80;
    border-radius: 10px;
    font-size: 18px;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}
