.container {
    display: flex;
    text-decoration: none;
    width: 101%;
    height: 65%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: orange;
}

.container :link {
    text-decoration: none;
    font-size: 30px;
    display: inline-flex;
    margin-left: 5px;
    padding-top: 4px;
    padding-left: 10px;
    justify-content: center;
}

.button {
    width: 4%;
    margin-left: 20%;
    border: none;
    border-radius: 5px;
    background-color: #003D7F;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: white;
    color: #003D7F;
}

.active {
    color: purple;
    font-weight: bold;
    transition: .2s;

}

.active:hover {
    background-color: grey;
}

.disable {
    color: blue;
}
