.container {
    display: flex;
    text-decoration: none;
    width: 101%;
    height: 80%;
    margin: 0;
    padding: 0;
    position: relative;
    backdrop-filter: blur(15px);
    background: transparent;
}

.container :link {
    text-decoration: none;
    font-size: 1.8em;
    display: inline-flex;
    margin-left: 5px;
    padding-top: 4px;
    padding-left: 10px;
    justify-content: center;
}

.button {
    width: 4%;
    margin-left: 20%;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #003D7F;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: rick-and-morty;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: white;
    color: #003D7F;
}

.active {
    color: purple;
    font-weight: bold;
    transition: .2s;
}

.active:hover {
    text-decoration: underline;
}

.disable {
    color: blue;
}

.disable:hover {
    background-color: #939393;
}
